<div>
<blockquote>
	
	<!-- <h1>What is a Function?</h1> -->
	<h5 class="flow-text"> Functions are one of the fundamental building blocks in JavaScript. A function is a JavaScript procedure—a set of statements that performs a task or calculates a value. To use a function, you must define it somewhere in the scope from which you wish to call it.</h5>
	<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Functions">MDN</a>
</blockquote>
</div>

<!-- <div>
	<p>function getEclipse(){<br>return "total eclipse"<br>}
	</p>
</div>

<button type="button">Get Eclipse!</button>
<div></div> -->