<div>
	<h1>How Does It Work?</h1>
	<h3>A function is defined, then invoked (called) later in the code.</h3>
</div>

<div>
	<p>A function is defined:</p>
	<p>function getChorus(){<br>return chorus;<br>}</p>
</div>
        
<div>
    <div>
    <ul>
    <li class="indigo-text" ng-show="show" ng-model="chorus">{{chorus}}<!-- (Turn around) --></li>
    <li>Every now and then</li>
    <li>I get a little bit lonely</li>
    <li>And you're never coming round</li><P>

    <li class="indigo-text" ng-show="show" ng-model="chorus">{{chorus}}<!-- (Turn around) --></li>
    <li>Every now and then</li>
    <li>I get a little bit tired</li>
    <li>Of listening to the sound of my tears</li><P>

    <li class="indigo-text" ng-show="show" ng-model="chorus">{{chorus}}<!-- (Turn around) --></li>
    <li>Every now and then</li>
    <li>I get a little bit nervous</li>
    <li>That the best of all the years have gone by</li><P>
  </ul>
  </div><!-- chorus populates here --></div>
    <button type="button" ng-click="show = ! show; myVar2 = ! myVar2;" >Get Chorus</button>
    
    <ul ng-if="myVar2" class="collapsible" data-collapsible="accordion">
    
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>The Code</div>
      <div class="collapsible-body"><span>

        Im a div put code here

      </span>
      </div>
    </li>

  </ul>
</div>
