<div class="practiceView1" ng-controller="PracticeCtrl">
  <div class="instructions">
    <h4>var x = "Hello";</h4>
    <h5>Create the function "sayHi" that returns "Hello"!</h5>
  </div>
  <div class="funtionDefining">

    <textarea name="name" rows="8" cols="80" class="term userWriteArea" ng-model="functionDef" placeholder="Define your function here...">
    </textarea>
  </div>
  <h5>Call the function you just created!</h5>
  <div class="functionCall">

    <textarea name="name" rows="8" cols="80" class="term userWriteArea" ng-model="functionCall" placeholder="Call your function here..."></textarea>

    <button type="button" name="button" ng-click="execute()">Run</button>
    <button type="button" name="reset" ng-click="reset()">Reset</button>
  </div>
  <div class="term functionResult" ng-model="functionResult">
    {{functionResult}}
  </div>
</div>
