<div class="container">
<div class="practiceView1" ng-controller="PracticeCtrl">
  <div class="instructions">
    <h4>var x = "Hello";</h4>
    <h4>var name = "<span>{{functionParameter}}</span>";</h4>
    <h5>Create the function name "hiName" that returns "Hello" and your name!</h5>
  </div>

  <div class="functionParameter">

    <h5>Define your "name" parameter</h5>
    <textarea name="name" rows="8" cols="80" class="term userWriteArea" ng-model="functionParameter" placeholder="Define your name parameter here..."></textarea>
  </div>
  <div class="funtionDefining">
    <h5>Create your function</h5>
    <textarea name="name" rows="8" cols="80" class="term userWriteArea" ng-model="functionDef" placeholder="Define your function here...">


    </textarea>
  </div>
  <div class="functionCall">

    <h5>Call your function</h5>
    <textarea name="name" rows="8" cols="80" class="term userWriteArea" ng-model="functionCall" placeholder="Call your function here..."></textarea>


    <a class="btn btn-large waves-effect waves-light btn-floating pulse deep-orange" ng-click="execute()">Run</a>
    <a class="btn btn-large waves-effect waves-light btn-floating pulse deep-orange" ng-click="reset()">Reset</a>
  </div>
  <div class="term functionResult" ng-model="functionResult">
    {{functionResult}}
  </div>
</div>
</div>