<div class="practiceView1" ng-controller="PracticeCtrl">
  <div class="instructions">

  </div>
  <div class="funtionDefining">
    <textarea name="name" rows="8" cols="80" class="userWriteArea" ng-model="functionDef">

    </textarea>
  </div>
  <div class="functionCall">
    <textarea name="name" rows="8" cols="80" class="userWriteArea" ng-model="functionCall"></textarea>
    <button type="button" name="button" ng-click="execute()">Run</button>
  </div>

  <div class="functionResult" ng-model="functionResult" ng-click="test">
    {{functionResult}}
  </div>
</div>
