<div class="section parallax-container bonnie">
    <div parallax><img src="../images/amercian-eclipse.jpg"></div>
</div>

<div class="container">
<div class="practiceView1" ng-controller="PracticeCtrl">
  <div class="instructions">
    <h4>var x = "Hello";</h4>
    <h5>Create the function "sayHi" that returns "Hello"!</h5>
  </div>
  <div class="funtionDefining">

    <textarea name="name" rows="8" cols="80" class="term userWriteArea" ng-model="functionDef" placeholder="Define your function here...">
    </textarea>
  </div>
  <h5>Call the function you just created!</h5>
  <div class="functionCall">

    <textarea name="name" rows="8" cols="80" class="term userWriteArea" ng-model="functionCall" placeholder="Call your function here..."></textarea>

  <a class="btn btn-large waves-effect waves-light btn-floating pulse deep-orange" ng-click="execute()">Run</a>
    <a class="btn btn-large waves-effect waves-light btn-floating pulse deep-orange" ng-click="reset()">Reset</a>
  </div>

  <div class="term functionResult" ng-model="functionResult">

    {{functionResult}}
  </div>
</div>
</div>